@import "tailwindcss";

@keyframes border-beam {
  100% {
    offset-distance: 100%;
  }
}

.animate-border-beam {
  animation: border-beam var(--duration) linear infinite;
  animation-delay: var(--delay);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee var(--duration, 40s) linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
